@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/icons.woff2') format('woff2');
  font-display: block;
}
@font-face {
  font-family: 'Material Symbols Rounded Filled';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/icons-filled.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'PP Object Sans';
  src: url('./fonts/PPObjectSans-Bold.woff') format('woff'), url('./fonts/PPObjectSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PP Object Sans';
  src: url('./fonts/PPObjectSans-BoldSlanted.woff') format('woff'), url('./fonts/PPObjectSans-BoldSlanted.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'PP Object Sans';
  src: url('./fonts/PPObjectSans-Medium.woff') format('woff'), url('./fonts/PPObjectSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PP Object Sans';
  src: url('./fonts/PPObjectSans-Regular.woff') format('woff'), url('./fonts/PPObjectSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PP Object Sans';
  src: url('./fonts/PPObjectSans-Light.woff') format('woff'), url('./fonts/PPObjectSans-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('./fonts/PPMonumentExtended-Bold.woff') format('woff'), url('./fonts/PPMonumentExtended-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PP Monument Extended';
  src: url('./fonts/PPMonumentExtended-Book.woff') format('woff'), url('./fonts/PPMonumentExtended-Book.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/*Global override for chrome black focus outlines */
*,
*:focus,
*:hover {
  outline: none;
}

:root {
  --mercury-font-family: 'PP Object Sans, sans-serif';
  --mercury-font-family-alt: 'PP Monument Extended, sans-serif';
  --mercury-font-family-icons: 'Material Symbols Rounded';

  --mercury-primary-color: #2400FF;
  --mercury-primary-color-light: #D1D3FD;
  --mercury-primary-color-medium: #1E00D3;
  --mercury-primary-color-dark: #17019C;
  --mercury-primary-color-contrast: #000000;
  --mercury-primary-color-contrast-secondary: #FFFFFF;

  --mercury-error-color: #CC2418;
  --mercury-error-color-light: #FBDCDA;
  --mercury-error-color-medium: #D8281C;
  --mercury-error-color-dark: #B91D12;
  --mercury-error-color-contrast: #000000;
  --mercury-error-color-contrast-secondary: #FFFFFF;

  --mercury-warning-color: #FE9E34;
  --mercury-warning-color-light: #FFDDB3;
  --mercury-warning-color-medium: #E57942;
  --mercury-warning-color-dark: #EB621C;
  --mercury-warning-color-contrast: #000000;
  --mercury-warning-color-contrast-secondary: #FFFFFF;

  --mercury-success-color: #088940;
  --mercury-success-color-light: #B3DFCA;
  --mercury-success-color-medium: #049D49;
  --mercury-success-color-dark: #007133;
  --mercury-success-color-contrast: #000000;
  --mercury-success-color-contrast-secondary: #FFFFFF;

  --mercury-default-color: #C7CCD3;
  --mercury-default-color-extra-light: #EFF1F3;
  --mercury-default-color-light: #E4E7EC;
  --mercury-default-color-dark: #667985;

  --mercury-text-color-primary: #000000;
  --mercury-text-color-secondary: #344054;
  --mercury-text-color-disabled: #C7CCD3;
  --mercury-text-color-hint: #667085;

  --mercury-background-color: #FFFFFF;
  --mercury-background-color-secondary: #F9F9Fa;

  --mercury-cool-color-20: #EEF3F8;
  --mercury-cool-color-40: #D1DDEB;
  --mercury-cool-color-60: #9CB2C9;
  --mercury-cool-color-90: #375267;
  --mercury-cool-color-100: #14212E;

  --mercury-shadow-color-light: rgba(40,47,52,.15);
  --mercury-shadow-color-dark: rgba(40,47,52,.3);
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.filled {
  font-family: 'Material Symbols Rounded Filled';
}

.circular-path-loader {
  stroke-dasharray: 30, 120;
  stroke-dashoffset: 0;
}
.circular-path-rounded-loader {
  stroke-dasharray: 30, 120;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}
.line-path-rounded-loader {
  stroke-linecap: round;
}
