.storyWrapper {
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcaseButtons {
  display: grid;
  justify-items: start;
  align-items: center;
  gap: 1rem;
}
.rowLabel {
  text-transform: capitalize;
}
